body {
    margin: 0;
    font-family: Arial;
    background: #f4f6f9;
    display: flex
}

.sidebar {
    width: 220px;
    background: #1e293b;
    color: white;
    padding: 20px;
    height: 100vh
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 20px
}

.sidebar a {
    display: block;
    color: #cbd5f5;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 8px;
    text-decoration: none
}

.sidebar a:hover {
    background: #334155
}

.sidebar .active {
    color: #FFF;
    font-weight: bold;
}

.main {
    flex: 1;
    padding: 20px
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05)
}

table {
    width: 100%;
    border-collapse: collapse
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #eee;
    text-align: left
}

input,
select {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px
}

button {
    padding: 10px 15px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer
}

.badge {
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-size: 12px
}

.wait {
    background: orange
}

.done {
    background: green
}